<?xml version="1.0" encoding="utf-8"?>
<configuration>


<configSections>
</configSections>
<connectionStrings>

    <add name="ventas2.Properties.Settings.ConsesionariaConnectionString" connectionString="Data Source=DESKTOP-U0K9GFN;Initial Catalog=Consesionaria;Integrated Security=True;Encrypt=False;TrustServerCertificate=True" providerName="System.Data.SqlClient" />


<add name="ConsesionariaEntities" connectionString="metadata=res://*/Modelo.Model1.csdl|res://*/Modelo.Model1.ssdl|res://*/Modelo.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-U0K9GFN;initial catalog=Consesionaria;integrated security=True;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>
